@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900');
body{
    margin: 0;
    padding: 10px 0px;
    background-color: #3184e7;
    color: #eeeeee;
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    text-align: center;
    justify-content: center;
    font-family: 'Catamaran', sans-serif;
    margin: auto;
    width: 25em;
    height: 35em;
    padding: 0.5em;
    background: #F09819;  /* fallback for old browsers */
    background-image: linear-gradient(315deg, #58bcfb 0%,#ffe099 74%);
    
    border: 1px solid white;
    border-radius: 20px 20px 120px 120px;
	-webkit-filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white); 
    filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
    transition: all 0.5s ease;
}
.header:hover {
    background-color: #ff1a1a;
    background-image: linear-gradient(315deg, #ffe099 0%, #58bcfb 74%);
    
  }
.header h1{ 
    font-size: 40px;
    -webkit-text-stroke: 2px black;
}
.header a{
    text-decoration: none;
    padding: 10px;
    background-color: #3184e7;
    color: white;
    border: 1px solid white;
    border-radius: 4px 4px;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
        moz-transform: rotateY(0deg);
        ms-transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
        moz-transform: rotateY(360deg);
        ms-transform: rotateY(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(360deg);
    }
}

.header img{
            animation-name: spin;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-duration: 10s;
            -webkit-animation-name: spin;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-duration: 10s;
}